<nav>
<%= image_tag("logo.jpg" , alt: "") %>
    <ul>
	<li><%= link_to "Home",   root_path %></li>
        <li><%= link_to "Quem Somos",   menu_about_path %></li>
        <!--li><#%= link_to "E-commerce",   menu_produtos_path %></li-->
        <li><%= link_to "Contato",   menu_contato_path %></li>
    </ul>
</nav>
